// == GLOBAL LAYOUT ==

// FLOAT LEFT
%float-left {
	display: inline-block;
	float: left;
}

// FLOAT LEFT ONLY
%float-left-only {
	float: left;
}

// FLOAT RIGHT ONLY
%float-right-only {
	float: right;
}

// FLOAT NONE ONLY
%float-none-only {
	float: none;
}

// FLOAT LEFT WIDTH
%float-left-width {
	width: 100%;
	float: left;
}

// CLEAR LAYOUT
%clear-layout {
	@include clear;
}

// FULL WIDTH
%full-width {
	width: 100%;

	// %full-width-block {
	&-block {
		width: 100%;
		display: block;
	}
}

// WIDTHS - percent / fractions

%width {
	// %width-one
	&-one {
		width: 100%;
	}

	// Thirds

	// %width-one-third
	&-one-third {
		width: (100% / 3);
	}
	// %width-two-thirds
	&-two-thirds {
		width: ((100% / 3) * 2);
	}
	// %width-one-sixth
	&-one-sixth {
		width: (100% / 6);
	}

	// Halves and Quarters

	// %width-one-half
	&-one-half {
		width: (100% / 2);
	}
	// %width-one-quarter
	&-one-quarter {
		width: (100% / 4);
	}
	// %width-one-fifth
	&-one-fifth {
		width: (100% / 5);
	}
	// %width-three-quarters
	&-three-quarters {
		width: ((100% / 4) * 3);
	}
	// %width-one-eighth
	&-one-eighth {
		width: (100% / 8);
	}
}
